Web Scraping

In [9]:
import requests
import pandas as pd
import numpy as np

Calculating average value for given location, year, month, date

In [10]:
def scratch_data (loc,year,month,date):
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.146 Safari/537.36'}
    ur3 = 'https://www.metaweather.com/api/location/'+str(loc)+'/'+ str(year)+'/'+str(month)+'/'+str(date)+'/'
    r=requests.get(ur3,headers=headers)
    data = r.json()
    df=pd.json_normalize(data)
    df = df.replace(np.nan,0)
    df = df.groupby('applicable_date').mean()
    df = df.drop(['id'], axis=1)
    return df

Aggregate Yearly Data to One Dataframe

In [11]:
days31 = [1,3,5,7,8,10,12]
days30 = [4,6,9,11]
days28 = [2]

def yearlydata(loc,year,m1=days31,m2=days30,m3=days28):
    #31 days concat
    dftotal1 = pd.DataFrame()
    for m in m1:
        for i in range(1,32):
            df= scratch_data(loc,year,m,i)
            dftotal1 = dftotal1.append(df)
    dftotal1 = dftotal1.reset_index()
    
    #30 days concat
    dftotal2 = pd.DataFrame()
    for m in m2:
        for i in range(1,31):
            df= scratch_data(loc,year,m,i)
            dftotal2 = dftotal2.append(df)
    dftotal2 = dftotal2.reset_index()

    #28 or 29 days concat
    rem = year%4
    if rem==0:
        dftotal3 = pd.DataFrame()
        for m in m3:
            for i in range(1,30):
                df= scratch_data(loc,year,m,i)
                dftotal3 = dftotal3.append(df)
        dftotal3 = dftotal3.reset_index()
    else:
        dftotal3 = pd.DataFrame()
        for m in m3:
            for i in range(1,29):
                df= scratch_data(loc,year,m,i)
                dftotal3 = dftotal3.append(df)
        dftotal3 = dftotal3.reset_index()

    dftotal = pd.concat([dftotal1,dftotal2, dftotal3], ignore_index=True)
    dftotal = dftotal.sort_values('applicable_date').reset_index(drop = True)
    
    return dftotal

In [87]:
pd.reset_option('display.max_rows')

In [14]:
m1=days31
m2=days30
m3=days28

Sacramento Dataframe

In [89]:
data2016 = yearlydata(2486340,2016,m1,m2,m3)

In [94]:
data2017 = yearlydata(2486340,2017,m1,m2,m3)

In [95]:
data2018 = yearlydata(2486340,2018,m1,m2,m3)

In [96]:
data2019 = yearlydata(2486340,2019,m1,m2,m3)

In [97]:
data2020 = yearlydata(2486340,2020,m1,m2,m3)

In [98]:
Sacdata = pd.concat([data2016,data2017, data2018, data2019, data2020], ignore_index=True)

In [100]:
Sacdata.tail()

,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
1822,2020-12-27,5.143542,12.073125,11.882778,2.858036,157.589452,1015.500000,73.000000,10.573679,74.527778
1823,2020-12-28,5.694653,11.679167,11.096806,3.397480,255.586332,1015.000000,71.944444,10.765325,74.361111
1824,2020-12-29,3.298958,12.016319,10.921944,3.023182,283.189229,1022.277778,64.236111,11.756140,70.388889
1825,2020-12-30,2.817986,11.293819,10.937361,3.087875,182.902539,1025.055556,63.972222,11.313832,71.597222
1826,2020-12-31,5.320486,12.109375,11.746875,4.626476,262.858515,1022.375000,67.708333,11.323407,73.013889

In [102]:
Sacdata.to_csv('sacramento', encoding='utf-8', index=False)

Lake Tahoe Dataframe

In [13]:
data2016t = yearlydata(23511744,2016)

In [17]:
data2017t = yearlydata(23511744,2017,m1,m2,m3)

In [18]:
data2018t = yearlydata(23511744,2018,m1,m2,m3)

In [19]:
data2019t = yearlydata(23511744,2019,m1,m2,m3)

In [20]:
data2020t = yearlydata(23511744,2020,m1,m2,m3)

In [27]:
Tahoedata1 = pd.concat([data2016t,data2017t, data2018t, data2019t, data2020t], ignore_index=True)

Las Vegas Dataframe

In [124]:
data2016v = yearlydata(2436704,2016,m1,m2,m3)

In [125]:
data2017v = yearlydata(2436704,2017,m1,m2,m3)

In [126]:
data2018v = yearlydata(2436704,2018,m1,m2,m3)

In [127]:
data2019v = yearlydata(2436704,2019,m1,m2,m3)

In [128]:
data2020v = yearlydata(2436704,2020,m1,m2,m3)

In [129]:
Vegasdata = pd.concat([data2016v,data2017v, data2018v, data2019v, data2020v], ignore_index=True)

Denver Dataframe

In [115]:
data2016d = yearlydata(2391279,2016,m1,m2,m3)

In [118]:
data2017d = yearlydata(2391279,2017,m1,m2,m3)

In [119]:
data2018d = yearlydata(2391279,2018,m1,m2,m3)

In [120]:
data2019d = yearlydata(2391279,2019,m1,m2,m3)

In [121]:
data2020d = yearlydata(2391279,2020,m1,m2,m3)

In [122]:
Denverdata = pd.concat([data2016d,data2017d, data2018d, data2019d, data2020d], ignore_index=True)

Indianapolis Dataframe

In [132]:
data2016i = yearlydata(2427032,2016,m1,m2,m3)

In [133]:
data2017i = yearlydata(2427032,2017,m1,m2,m3)

In [134]:
data2018i = yearlydata(2427032,2018,m1,m2,m3)

In [135]:
data2019i = yearlydata(2427032,2019,m1,m2,m3)

In [136]:
data2020i = yearlydata(2427032,2020,m1,m2,m3)

In [137]:
Indianapolisdata = pd.concat([data2016i,data2017i, data2018i, data2019i, data2020i], ignore_index=True)

Transform Dataframe to csv File for Graphing

In [29]:
Tahoedata1.to_csv('Lake_Tahoe1', encoding='utf-8', index=False)

In [130]:
Vegasdata.to_csv('Las_Vegas', encoding='utf-8', index=False)

In [123]:
Denverdata.to_csv('Denver', encoding='utf-8', index=False)

In [138]:
Indianapolisdata.to_csv('Indianaplis', encoding='utf-8', index=False)